@page
@model StudentManagingSystem_Client.Pages.PointPage.AddPointModel
@{
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Point">Mark List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add point</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    @if (ViewData["messageCode"] != null)
                    {
                        <div class="form-group">
                            <label>Subject</label>
                            <select asp-for="PointAddRequest.SubjectId" class="selectpicker form-control form-control-danger" style="width: 100%; height: 38px;">
                                @foreach (var item in Model.ListSubject)
                                {
                                    <option value="@item.Id">@item.SubjectName - @item.SubjectCode</option>
                                }
                            </select>
                            <span asp-validation-for="PointAddRequest.SubjectId" class="text-danger"></span>
                            <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                @ViewData["messageCode"]
                            </div>
                        </div>

                    }else{
                        <div class="form-group">
                            <label>Subject</label>
                            <select asp-for="PointAddRequest.SubjectId" class="selectpicker form-control" style="width: 100%; height: 38px;">
                                @foreach (var item in Model.ListSubject)
                                {
                                    <option value="@item.Id">@item.SubjectName - @item.SubjectCode</option>
                                }
                            </select>
                        </div>
                    }

                    @if (ViewData["messageCode"] != null)
                    {
                        <div class="form-group">
                            <label>Student</label>
                            <select asp-for="PointAddRequest.StudentId" class="custom-select2 form-control form-control-danger" style="width: 100%; height: 38px;">
                                @foreach (var item in Model.ListStudent)
                                {
                                    <option value="@item.Id">@item.StudentName</option>
                                }
                            </select>
                            <span asp-validation-for="PointAddRequest.StudentId" class="text-danger"></span>
                            <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                @ViewData["messageCode"]
                            </div>
                        </div>

                    }else{
                        <div class="form-group">
                            <label>Student</label>
                            <select asp-for="PointAddRequest.StudentId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                                @foreach (var item in Model.ListStudent)
                                {
                                    <option value="@item.Id">@item.StudentName</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="form-group row">
                        <label asp-for="PointAddRequest.ProgessPoint" class="col-sm-12 col-md-2 col-form-label">Progress Point</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="PointAddRequest.ProgessPoint" class="form-control" type="number" step="0.01" placeholder="Progress">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PointAddRequest.MidtermPoint" class="col-sm-12 col-md-2 col-form-label">Midterm Point</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="PointAddRequest.MidtermPoint" class="form-control" type="number" step="0.01" placeholder="Midterm">
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="Point" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>