@page
@model StudentManagingSystem_Client.Pages.ClassroomPage.AddClassModel
@{
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="ClassRoom">Class List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Class</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="ClassRoomAddRequest.ClassName" class="col-sm-12 col-md-2 col-form-label">ClassRoom Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ClassRoomAddRequest.ClassName" class="form-control" type="text" placeholder="ClassRoom name">
                        </div>
                    </div>
                    @if (ViewData["messageCode"] != null)
                    {
                        <div class="form-group row">
                            <label asp-for="ClassRoomAddRequest.ClassCode" class="col-sm-12 col-md-2 col-form-label">ClassRoom Code</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="ClassRoomAddRequest.ClassCode" class="form-control form-control-danger" type="text" placeholder="ClassRoom Code" required="required">
                                <span asp-validation-for="ClassRoomAddRequest.ClassCode" class="text-danger"></span>
                                <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                    @ViewData["messageCode"]
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <label asp-for="ClassRoomAddRequest.ClassCode" class="col-sm-12 col-md-2 col-form-label">ClassRoom Code</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="ClassRoomAddRequest.ClassCode" class="form-control" type="text" placeholder="ClassRoom code">
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label>Department</label>
                        <select asp-for="ClassRoomAddRequest.DepartmentId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.listDept)
                            {
                                <option value="@item.Id">@item.DepartmentName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Teacher</label>
                        <select asp-for="ClassRoomAddRequest.UserId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.listUser)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ClassRoomAddRequest.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="ClassRoomAddRequest.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ClassRoom" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>