@page
@using BusinessObject.Utility;
@model StudentManagingSystem_Client.Pages.ClassroomPage.ClassRoomModel
@{
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Class List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Class</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex flex-row">
                        @if (User.IsInRole(RoleConstant.ADMIN))
                        {
                            <div class="col-md-4 col-sm-12 text-right">
                                <div class="dropdown">
                                    <a class="btn btn-primary" asp-page="AddClass">
                                        Add Class
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 text-right">
                                <div class="dropdown">
                                    <a id="deleteButton" class="btn btn-danger disabled">
                                        Delete
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 text-left">
                                <div class="dropdown">
                                    <a class="btn btn-outline-danger" asp-page="ExportClassRoom">
                                        Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 text-left">
                                <div class="dropdown">
                                    <a class="btn btn-outline-success" onclick="chooseFile()">
                                        Import
                                    </a>
                                    <form id="uploadForm" method="post" enctype="multipart/form-data" asp-page="ImportClass" style="display: none;">
                                        <input id="fileInput" type="file" name="file" accept=".xlsx, .xls" />
                                        <button id="submitBtn" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <form method="get">
                <div class="row mb-15">
                    <div class="col-md-4">
                        <div class="header-search">
                            <form method="get">
                                <div class="form-group mb-0" style="display:flex">
                                    <i style="justify-content: flex-start;"
                                       class="dw dw-search2 search-icon mr-10 mt-15"></i>
                                    <input asp-for="Keyword" style="justify-content: flex-end;" type="text"
                                           class="form-control search-input" placeholder="Search Here">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="display: flex;">
                            <p style="justify-content: flex-start; margin-top:9px" class="mr-10">Status</p>
                            <div style="justify-content: flex-end; width: 200px;">
                                <select asp-for="Status" class="custom-select">
                                    <option selected="" value="null">All</option>
                                    <option value="True">Hoạt động</option>
                                    <option value="False">Không hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" style="height: 44px;margin-left: 20px;width: 114px;" class="btn btn-success">Filter</button>
                    @*<div class="col-md-3">
                    <div style="display: flex;">
                    <p style="justify-content: flex-start;margin-top:9px" class="mr-10">Status</p>
                    <div style="justify-content: flex-end; width: 200px;">
                    <select class="custom-select">
                    <option selected="">All</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                    </div>
                    </div>

                    </div>*@
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered ">
                    <thead style="background-color: lightgray">
                        <tr>
                            <th>#</th>
                            <th>Class Name</th>
                            <th>Class Code</th>
                            <th>Department</th>
                            <th>Teacher</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Last Modified Date</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListClassRoom.Data)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedItems" value="@item.Id">
                                </td>
                                <td class="table-plus">@item.ClassName</td>
                                <td>@item.ClassCode</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.TeacherName</td>
                                <td>@(item.Status == true ? "Hoạt động" : "Không hoạt động")</td>
                                <td>@(item.CreatedDate != null ? item.CreatedDate.Value.ToShortDateString() : "")</td>
                                <td>@(item.LastModifiedDate != null ? item.LastModifiedDate.Value.ToShortDateString() : "")</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        @if (User.IsInRole(RoleConstant.ADMIN))
                                        {
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" asp-page="UpdateClass" asp-route-id="@item.Id" asp-route-pageIndex="@Model.PageIndex"><i class="dw dw-edit2"></i> Edit</a>
                                                <a class="dropdown-item" asp-page="DeleteClass" asp-route-id="@item.Id" onclick="return confirmDelete(event)"><i class="dw dw-delete-3"></i> Delete</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" asp-page="UpdateClass" asp-route-id="@item.Id"><i class="dw dw-edit2"></i>View</a>

                                            </div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-info view-students" data-toggle="modal" data-target="#liststudent" data-classid="@item.Id">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @{
                var prev = Model.PageIndex > 1 ? "" : "disabled";
                var next = Model.PageIndex < Model.TotalPage ? "" : "disabled";
            }
            <div class="row">
                <div class="btn-group mb-15" style="margin-left:15px;">
                    <a class="btn btn-light @prev" asp-page="./ClassRoom" asp-route-pageIndex="@(Model.PageIndex-1)">Previous</a>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <a class="btn @(i == Model.PageIndex ? "btn-success" : "btn-light")" asp-page="./ClassRoom" asp-route-pageIndex="@i">@i</a>
                    }
                    <a class="btn btn-light @next" asp-page="./ClassRoom" asp-route-pageIndex="@(Model.PageIndex+1)">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="liststudent" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">
                    List Student
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Student Name</th>
                            <th scope="col">Student Code</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@{
    var t = HttpContext.Request.Cookies["AccessToken"];
}
<input type="hidden" id="token" value="@t" />
<script>
    function confirmDelete(event) {
        event.preventDefault(); // prevent the default action of the button click
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // if the user clicks the confirm button, continue with the delete action
                window.location.href = event.target.href;
            }
        });
        return false;
    }
</script>
<script>
    function chooseFile() {
        var fileInput = document.getElementById('fileInput');
        fileInput.click();
    }

    document.getElementById('fileInput').addEventListener('change', function () {
        var submitBtn = document.getElementById('submitBtn');
        submitBtn.click();
    });
</script>
<script>
    var checkboxes = document.querySelectorAll('input[name="selectedItems"]');
    var deleteButton = document.getElementById('deleteButton');

    function handleCheckboxChange() {
        var checkedCount = 0;
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                checkedCount++;
            }
        });

        if (checkedCount >= 2) {
            deleteButton.classList.remove('disabled');
        } else {
            deleteButton.classList.add('disabled');
        }
    }

    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', handleCheckboxChange);
    });
</script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#deleteButton').click(function () {
                // Get the selected checkbox values
                var selectedIds = [];
                $("input:checkbox:checked").map(function () {
                    selectedIds.push($(this).val());
                });

                // Make the AJAX request
                /*$.ajax({
                    url: '/DepartmentPage/DeleteListDepartment',
                    type: 'Get',
                    data: { selectedItems: selectedIds },
                    success: function (response) {
                        // Handle the success response from the controller
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle any error that occurred during the AJAX request
                        console.error(error);
                    }
                });*/

                if (selectedIds.length > 0) {
                    var url = "https://localhost:7016/api/ClassRoom/deleteList";
                    var token = document.getElementById("token").value;
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: JSON.stringify(selectedIds),
                        contentType: "application/json",
                        headers: {
                            "Authorization": "Bearer" + " " + token
                        },
                        success: function (response) {
                            // Handle success response
                            location.reload(true);
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            console.error(error);
                        }
                    });
                }

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.view-students').on('click', function () {
                var classId = $(this).data('classid');

                // Make the AJAX call to fetch the student list with classId as a query parameter
                $.ajax({
                    url: 'https://localhost:7016/api/Student/getStudentByClass?Id=' + classId,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Handle the success response and populate the table with data
                        var tableBody = $('#liststudent').find('tbody');
                        tableBody.empty(); // Clear the table before adding new data

                        for (var i = 0; i < data.length; i++) {
                            var row = `
                    <tr>

                        <td>${data[i].studentName}</td>

                        <td>${data[i].studentCode}</td>

                    </tr>
                    `
                            tableBody.append(row);
                        }
                    },
                    error: function (error) {
                        // Handle the error if needed
                        console.log(error);
                    }
                });
            });
        });
    </script>
}